*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
 
    width: 170px;
 
    height: auto;
 
}
.sub-logo{
    color: #ff6b00;
}
.nav-link:hover{
    border-bottom: 1px solid #ff6b00;
}
table{
    border: 1px solid black;
}
table th, td{
    border: 1px solid black;
    padding: 5px;
}